.black-border-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    width: 400px;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 8px;
    text-align: center;
}

.black-border-button:hover {
    background-color: rgb(96, 92, 92);
    color: rgb(255, 255, 255);
}