.black-border-button {
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px;
    font-size: 1rem;
    transition: all 0.3s ease;
    width: 400px;
    text-align: center;

}

/* Selected button style */
.selected-option {
    background-color: teal !important;
    color: white !important;
    border: 2px solid teal !important;
}

/* Hover effect */
.black-border-button:hover {
    background-color: black;
    color: white;
}