.enterarea {
  position: relative;
  height: 50px;
  line-height: 50px;
}

input {
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 1rem;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #090909;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1;
}

.lebelline {
  position: absolute;
  font-size: 1rem;
  color: #666;
  /* Change this to your preferred default color */
  padding: 0 10px;
  margin: 0 10px;
  background-color: #ffffff;
  transition: 0.2s ease;
}

input:focus,
input:valid {
  color: #080808;
  border: 1px solid #66ff00;
}

input:focus+.lebelline,
input:valid+.lebelline {
  color: #5c5e5c;
  height: 20px;
  line-height: 20px;
  transform: translate(-10px, -12px) scale(0.88);
  z-index: 1;
}