.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .goal-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .goal-card {
    width: 500px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  .goal-card:hover {
    transform: translateY(-5px);
  }
  
  .goal-title {
    font-size: 16px;
    color: #333;
    margin: 0; /* remove bottom margin */
  }
  