.register-card {
    border-radius: 10px;

    width: 500px;

    /* Limits width for large screens */
    padding: 30px;
    height: auto;
    margin: 20px auto;

    justify-content: center;

}

/* Form styling */
.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* Adds space between input fields */
}

/* Heading styling */
.register-h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Container width for responsiveness */
.container {
    width: 100%;
    max-width: 400px;
    padding-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .register-card {
        width: 90%;
        /* Reduce width for tablets */
        padding: 20px;
    }

    .register-h1 {
        font-size: 22px;
    }
}

@media (max-width: 480px) {
    .register-card {
        width: 100%;
        padding: 15px;
    }

    .register-h1 {
        font-size: 20px;
    }
}